<h1>Ganti Password ({{user.username}})</h1>
<mat-form-field class="input-full-width">
  <input matInput type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}" placeholder="Email">
</mat-form-field>
<mat-form-field class="input-full-width">
  <input matInput type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone:true}" placeholder="Password">
</mat-form-field>
<button mat-button (click)="updatePassword(user)">Set Password</button>
<button mat-button routerLink="/users">Batalkan</button>