<h1>Edit User</h1>
<mat-form-field class="input-full-width">
  <input type="text" matInput [(ngModel)] = "obj.username" [ngModelOptions]="{standalone:true}" placeholder="User name">
</mat-form-field>
<mat-form-field class="input-full-width">
  <input type="text" matInput [(ngModel)] = "obj.email" [ngModelOptions]="{standalone:true}" placeholder="Email">
</mat-form-field>
<mat-form-field class="input-full-width">
  <mat-select placeholder="Pilih Level" [(ngModel)]="obj.level">
    <mat-option value="1">Level 1</mat-option>
    <mat-option value="2">Level 2</mat-option>
    <mat-option value="3">Level 3</mat-option>
    <mat-option value="4">Level 4</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="input-full-width">
  <mat-select placeholder="Pilih Status" [(ngModel)]="obj.active">
    <mat-option value="1">Active</mat-option>
    <mat-option value="0">Non Active</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="updateUser(obj)">Update</button>